<form method="post" action="/login/ssi">

    <img src="{{qrcode}}">
    <input type="hidden" name="display" id="display" value="">
    <input type="hidden" name="scope" id="scope" value="openid offline_access webid">
    <input type="hidden" name="nonce" id="nonce" value="">

    <input type="hidden" name="username" id="username" value="unisa">
    <input type="hidden" name="oob_id" id="oob_id" value="{{oobRecord}}">
    <button type="submit" class="btn btn-lg btn-primary" id="login-ssi">
        Log in with SSI
    </button>
</form>

<div id="message-container"></div>