<div class="panel panel-default panel-login-tls">
  <div class="panel-body">
    <form method="post" action="/login/ssi">
      <button type="submit" class="btn btn-lg btn-primary" id="login-ssi">
        Log in with SSI
      </button>
      <img src="{{qrcode}}">

    </form>
  </div>
</div>
